form{
    background-color:$pickme;
    padding: 15px;
    width: 80%;
    border-radius: 20px;
    margin-top: 50px;
    .img{
        display: flex;
        justify-content: center;
    }
    .header{
        display: flex;
        justify-content:space-around;
        a{
            background-color:orange;
            color: white;
            padding: 10px;
            width: 10%;
            text-align: center;
            border-radius: 10px;
            text-decoration: none;
            &:hover{
                background-color: $pickme;
                color: black;
            }
        }
    }
    .p-number,.password{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin : {
            left: 20px;
            right: 20px;
        }
        p{
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            width: 100px;
            &:hover{
                background-color: $pickme;
            }
        }
        input{
            width: 825px;
            padding: 10px;
            margin-left: 5px;
            background-color: $pickme;
            outline: none;
            border: none;
            border-radius: 20px;
            &:hover{
                background-color: white;
            }
        }
    }
    .text{
        margin-left: 23%;
        a{
            text-decoration: none;
        }
    }
    button{
        margin-left: 45%;
        padding: 10px;
        width: 100px;
        margin-top: 40px;
        margin-bottom: 40px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: orange;
        a{
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
        &:hover{
            background-color:$pickme;
            a{
                color: black;
            }
        }
    }
}
